:root {
    /* Theme colors */
    --color-1-50: #f4f9f7;
    --color-1-100: #daede5;
    --color-1-200: #b5dacb;
    --color-1-300: #89bfac;
    --color-1-400: #65a48f;
    --color-1-500: #468672;
    --color-1-600: #366b5b;
    --color-1-700: #2e574a;
    --color-1-800: #29463f;
    --color-1-900: #253c35;
    --color-1-950: #11221d;
    --color-1: var(--color-1-500);

    --color-2-50: #f9f7f3;
    --color-2-100: #f2ede2;
    --color-2-200: #e3d8c5;
    --color-2-300: #d2be9f;
    --color-2-400: #c2a480;
    --color-2-500: #b1885e;
    --color-2-600: #a47652;
    --color-2-700: #885f46;
    --color-2-800: #6f4f3d;
    --color-2-900: #5a4134;
    --color-2-950: #30211a;
    --color-2: var(--color-2-500);

    /* Neutrals */
    --color-neutral-50: #efefef;
    --color-neutral-100: #dfe0e0;
    --color-neutral-150: #cfd0d0;
    --color-neutral-200: #bfc1c0;
    --color-neutral-250: #afb1b1;
    --color-neutral-300: #9fa1a1;
    --color-neutral-350: #8f9291;
    --color-neutral-400: #7f8281;
    --color-neutral-450: #6f7372;
    --color-neutral-500: #5f6362;
    --color-neutral-550: #565958;
    --color-neutral-600: #4c4f4e;
    --color-neutral-650: #434545;
    --color-neutral-700: #393b3b;
    --color-neutral-750: #303231;
    --color-neutral-800: #262827;
    --color-neutral-850: #1c1e1d;
    --color-neutral-900: #131414;
    --color-neutral-950: #090a0a;
    --color-neutral: var(--color-neutral-500);

    --color-white: var(--color-neutral-50);
    --color-black: var(--color-neutral-950);
    --color-pure-white: #ffffff;
    --color-pure-black: #000000;

    /* Semantic colors */
    --color-error: hsl(359, 100%, 91%);
    --color-success: hsl(76, 69%, 68%);
    --color-info: hsl(205, 82%, 91%);
    --color-notice: hsl(51, 100%, 80%);
    --color-error-content: hsl(359, 50%, 50%);
    --color-success-content: hsl(76, 29%, 28%);
    --color-info-content: hsl(205, 32%, 31%);
    --color-notice-content: hsl(51, 30%, 30%);

    /* Background, surface, border */
    --color-bg: var(--color-neutral-950);
    --color-bg-inverse: var(--color-neutral-600);

    --color-bg-primary: var(--color-1-600);
    --color-bg-primary-light: var(--color-1-500);
    --color-bg-primary-dark: var(--color-1-700);

    --color-bg-secondary: var(--color-2-500);
    --color-bg-secondary-light: var(--color-2-400);
    --color-bg-secondary-dark: var(--color-2-600);

    --color-bg-accent: var(--color-bg-primary);
    --color-bg-accent-light: var(--color-bg-primary-light);
    --color-bg-accent-dark: var(--color-bg-primary-dark);

    --color-bg-neutral: var(--color-neutral-850);
    --color-bg-neutral-light: var(--color-neutral-800);
    --color-bg-neutral-dark: var(--color-neutral-900);

    --color-border: var(--color-neutral-850);

    /* Text */
    --color-text: var(--color-neutral-200);
    --color-text-bold: var(--color-neutral-50);
    --color-text-light: var(--color-neutral-500);
    --color-headings: var(--color-neutral-100);
    --color-placeholder: var(--color-neutral-500);

    /* Link */
    --color-link: var(--color-1-500);
    --color-link-hover: var(--color-bg-secondary);
    --color-link-active: var(--color-bg-secondary);

    /* Buttons */
    --color-btn: var(--color-bg-neutral);
    --color-btn-text: var(--color-white);
    --color-btn-hover: var(--color-bg-neutral-light);
    --color-btn-hover-text: var(--color-white);

    --color-btn-primary: var(--color-bg-accent);
    --color-btn-primary-text: var(--color-white);
    --color-btn-primary-hover: var(--color-bg-accent-dark);
    --color-btn-primary-hover-text: var(--color-white);

    --color-btn-ghost: var(--color-bg-secondary);
    --color-btn-ghost-text: var(--color-bg-secondary);
    --color-btn-ghost-hover: var(--color-bg-secondary);
    --color-btn-ghost-hover-text: var(--color-bg);

    /* Preloader */
    --color-preloader-bg: var(--color-bg);
    --color-loader: var(--color-neutral-400);
    --color-loader-light: var(--color-white);
}