:root {
  /* Easing functions */
  --ease-linear: linear;
  --ease-in: ease-in;
  --ease-out: ease-out;
  --ease-in-out: ease-in-out;
  --ease-smooth: cubic-bezier(0.25, 0.1, 0.25, 1);
  --ease-smooth-in: cubic-bezier(0.42, 0, 1, 1);
  --ease-smooth-out: cubic-bezier(0, 0, 0.58, 1);
  --ease-smooth-in-out: cubic-bezier(0.42, 0, 0.58, 1);
  --ease-snappy-polished: cubic-bezier(0.28, 0.12, 0.22, 1);
  --ease-quick-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-quick-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --ease-elastic: cubic-bezier(0.7, -0.4, 0.2, 1.4);
  --ease-subtle: cubic-bezier(0.2, 0.2, 0.4, 0.8);
  --ease-gentle: cubic-bezier(0.33, 0.1, 0.33, 1);

  /* Shadows */
  --shadow-color: 0, 0%, 0%;
  --shadow-low: 0 2px 2px hsla(var(--shadow-color), 0.01), 0 4px 4px hsla(var(--shadow-color), 0.02);
  --shadow-medium: 0 2px 2px hsla(var(--shadow-color), 0.01),
    0 4px 4px -0.2px hsla(var(--shadow-color), 0.02),
    0 16px 16px -0.4px hsla(var(--shadow-color), 0.06);
  --shadow-high: 0 2px 2px hsla(var(--shadow-color), 0.01),
    0 4px 4px -0.6px hsla(var(--shadow-color), 0.02),
    0 16px 16px -1.2px hsla(var(--shadow-color), 0.06),
    0 32px 32px -2.2px hsla(var(--shadow-color), 0.08);
}
